<!DOCTYPE html>
<html>
<head>
  <title>Hotelizing</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
<% byebug %>
<img src=<%= current_user.image %> alt="User" style="width:100px;height:100px;">
 Welcome to Hotelizing, <%= current_user.name %>
<%= link_to "Sign out", destroy_user_session_path, method: "delete", data: { confirm: 'Are you sure?' } %>
<%= link_to "Edit User",  edit_user_registration_path %>
<% else %>

<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %> 

<% end %><br>
<%= yield %>

</body>
</html>
